.category-active {
    background-color: #3b82f6;
    color: white;
}

.dish-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.dish-card {
    transition: all 0.3s ease;
}

.dish-image {
    height: 120px;
    background-size: cover;
    background-position: center;
}


/* Estilos de los botones activos */
.filter-btn.bg-sky-400 {
  background-color: #0284c7; /* Azul */
  color: white;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.platillo-animado {
  opacity: 0;
  animation: fadeSlideIn 0.5s ease forwards;
}