/* Asegúrate de que el cuerpo (body) ocupe toda la pantalla */
body {
  min-height: 100vh; /* Esto asegura que el cuerpo ocupa al menos el 100% de la pantalla */
  display: flex;
  flex-direction: column;
}

/* Estilo para el contenedor principal (main) */
main {
  flex: 1; /* Permite que el main ocupe el espacio restante */
  max-height: calc(100vh - 120px); /* Restar la altura del nav y otros elementos fijos */
  overflow-y: auto; /* Permite que el contenido de main tenga un scroll vertical */
  padding-bottom: 20px; /* Agregar un pequeño padding al fondo para que no se vea pegado al borde */
}

/* Asegura que los platillos ocultos tengan display none */
.hidden {
  display: none;
}

/* Estilos de los botones activos */
.filter-btn.bg-sky-400 {
  background-color: #0284c7; /* Azul */
  color: white;
}

